body{
    background-color: darkolivegreen;
}
h1 {
    text-align: center;
}
section{

}
form {
    text-align: center;
}
article{
    position: center;
  width: 20%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: beige;
    flex-wrap: wrap;
    margin: 1px;
}

figure{
    position: center;
    margin: 0 3rem 3rem 0;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
.kuva {'
  float: center
  width: 31%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: beige;
    flex-wrap: wrap;
    margin: 6px;'

}

.kuva1{
     width: 100%;

}



.divi{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    margin-right: 1px;
}